@model APP_TEST_ALTIORACORP.Models.Clientes

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Clientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDENTIFICACION" />
            <div class="form-group">
                <label asp-for="NOMBRES" class="control-label"></label>
                <input asp-for="NOMBRES" class="form-control" />
                <span asp-validation-for="NOMBRES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APELLIDOS" class="control-label"></label>
                <input asp-for="APELLIDOS" class="form-control" />
                <span asp-validation-for="APELLIDOS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DIRECCION" class="control-label"></label>
                <input asp-for="DIRECCION" class="form-control" />
                <span asp-validation-for="DIRECCION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TELEFONO" class="control-label"></label>
                <input asp-for="TELEFONO" class="form-control" />
                <span asp-validation-for="TELEFONO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TIPO" class="control-label"></label>
                <input asp-for="TIPO" class="form-control" />
                <span asp-validation-for="TIPO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
