@{
    ViewData["Title"] = "Clientes";
}

<h2>Clientes</h2>

@(Html.DevExtreme().DataGrid<APP_TEST_ALTIORACORP.Models.Clientes>()
    .DataSource(ds => ds.Mvc()
        .Controller("ClientesApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("IDENTIFICACION")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.IDENTIFICACION);

        columns.AddFor(m => m.NOMBRES);

        columns.AddFor(m => m.APELLIDOS);

        columns.AddFor(m => m.DIRECCION);

        columns.AddFor(m => m.TELEFONO);
    })
    .SearchPanel(s => s
        .Visible(true)
        .HighlightCaseSensitive(true)
    )
        .Pager(p => p
        .AllowedPageSizes(new int[] { 5, 8, 15, 30 })
        .ShowInfo(true)
        .ShowNavigationButtons(true)
        .ShowPageSizeSelector(true)
        .Visible(true))
    .Paging(p => p.PageSize(8))
    .Editing(e => e.Mode(GridEditMode.Popup)
           .AllowUpdating(true)
           .AllowAdding(true)
           .AllowDeleting(true)
           .Popup(p => p
                .Title("Clientes Guardar")
                .ShowTitle(true)
                .Width(700)
                .Height(525)
                .Position(pos => pos
                    .My(HorizontalAlignment.Center, VerticalAlignment.Top)
                    .At(HorizontalAlignment.Center, VerticalAlignment.Top)
                    .Of(new JS("window"))
                )
           )
           .Form(f => f.Items(items =>
           {
               items.AddGroup()
                   .ColCount(2)
                   .ColSpan(2)
                   .Items(groupItems =>
                   {
                       groupItems.AddSimpleFor(m => m.IDENTIFICACION);
                       groupItems.AddSimpleFor(m => m.NOMBRES);
                       groupItems.AddSimpleFor(m => m.APELLIDOS);
                       groupItems.AddSimpleFor(m => m.DIRECCION);
                       groupItems.AddSimpleFor(m => m.TELEFONO);
                   });
           }))
        )
)
